<div class="example-container mat-elevation-z8">
  <div *ngIf="isLoadingResults"
       class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="productForm">
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="prod_name" matInput
               placeholder="Product Name">
        <mat-error>
          <span *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="prod_desc" matInput
               placeholder="Product Description">
        <mat-error>
          <span *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product Description</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="prod_price" matInput placeholder="Product Price"
               type="number">
        <mat-error>
          <span *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter Product Price</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button [disabled]="!productForm.valid" color="primary" mat-flat-button type="submit">
          <mat-icon>save</mat-icon>
        </button>
        <a (click)="productDetails()" color="primary" mat-flat-button>
          <mat-icon>info</mat-icon>
        </a>
      </div>
    </form>
  </mat-card>
</div>
