<div class="example-container mat-elevation-z8">
  <div class="mat-elevation-z8">
    <table [dataSource]="data" class="example-table" mat-table
           matSort matSortActive="prod_name" matSortDirection="asc" matSortDisableClear>

      <!-- Product Name Column -->
      <ng-container matColumnDef="prod_name">
        <th *matHeaderCellDef mat-header-cell>Product Name</th>
        <td *matCellDef="let row" mat-cell>{{row.prod_name}}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="prod_price">
        <th *matHeaderCellDef mat-header-cell>Product Price</th>
        <td *matCellDef="let row" mat-cell>$ {{row.prod_price}}</td>
      </ng-container>

      <ng-container matColumnDef="prod_action">
        <th *matHeaderCellDef mat-header-cell>Action</th>
        <td *matCellDef="let row" mat-cell>
          <a [routerLink]="['/product-details/', row._id]" color="primary" mat-flat-button>
            <mat-icon>info</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <div *ngIf="isLoadingResults" class="example-loading-shade"
       style="text-align: center">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row" style="text-align: center">
    <a [routerLink]="['/product-add']" color="primary" mat-flat-button>
      <mat-icon>add</mat-icon>
    </a>
  </div>

  <!-- This part was implemented using local storage -->
  <div class="example-container">
    <mat-label>I give this app</mat-label>
    <input (change)="ratingchanger()" [(ngModel)]="rating" max="5" min="0" type="number"/>
    <mat-label> ⭐ !</mat-label>
  </div>

</div>
